// SPDX-License-Identifier: GPL-2.0
/* IMX519 Single Camera Overlay */

/dts-v1/;
/plugin/;

#include <dt-bindings/tegra234-p3767-0000-common.h>

/ {
	overlay-name = "Arducam IMX519 CAM0 - 2 Lane";
	jetson-header-name = "Jetson 24pin CSI Connector";
	compatible = JETSON_COMPATIBLE_P3768;

	// --- 0. ACTIVATE SENSOR MODULE 0 ---
	fragment@0 {
		target = <&sensor_module0>;
		__overlay__ {
			status = "okay";
			badge = "jakku_front_arducam";
			position = "front";
			drivernode0 {
				status = "okay";
				sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/cam_i2cmux/i2c@0/sensor_b@1a"; 
			};
		};
	};

    // --- 1. ACTIVATE VI PORT 1 (The FPA-defined path for CAM0) ---
    // Targets the sensor_vi_port1 node
	fragment@1 {
		target = <&sensor_vi_port1>;
		__overlay__ {
			status = "okay";
			sensor_vi_in1: endpoint {
				status = "okay";
				bus-width = <2>;
			};
		};
	};

	// --- 2. ACTIVATE CSI CHANNEL 1 ---
    // Targets the sensor_csi_ch1 node
	fragment@2 {
		target = <&sensor_csi_ch1>;
		__overlay__ {
			status = "okay";
			ports {
				status = "okay";
				port@0 {
					status = "okay";
					sensor_csi_ch1_in: endpoint@2 {
						status = "okay";
						bus-width = <2>;
						remote-endpoint = <&sensor_out_b>; 
					};
				};
				port@1 {
					status = "okay";
					sensor_csi_ch1_out: endpoint@3 {
						status = "okay";
					};
				};
			};
		};
	};

	// --- 3. DEFINE IMX519 SENSOR ON I2C@0 ---
	fragment@3 {
		target = <&cam_i2cmux_i2c0>;
		__overlay__ {

			rbpcv2_imx219_a@10 {
				status = "disabled";
			};
			
			sensor_b: arducam_imx519_a@1a { 
				compatible = "arducam,imx519";
				reg = <0x1a>;

				devnode = "video0";
				physical_w = "3.680";
				physical_h = "2.760";
				sensor_model = "imx519";
				use_sensor_mode_id = "false";

				mode0 {
					mclk_khz = "24000";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					phy_mode = "DPHY";
					lane_polarity = "6";
					active_w = "4656";
					active_h = "3496";
					// ... (other mode parameters) ...
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					line_length = "12650";
					pix_clk_hz = "300000000";
					max_framerate = "9000000";
					embedded_metadata_height = "2";
				};
				mode1 {
					mclk_khz = "24000";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					phy_mode = "DPHY";
					lane_polarity = "6";
					active_w = "3840";
					active_h = "2160";
					// ... (other mode parameters) ...
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					line_length = "10486";
					pix_clk_hz = "300000000";
					max_framerate = "17000000";
					embedded_metadata_height = "2";
				};
				mode2 {
					mclk_khz = "24000";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					phy_mode = "DPHY";
					lane_polarity = "6";
					active_w = "1920";
					active_h = "1080";
					// ... (other mode parameters) ...
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					line_length = "6027";
					pix_clk_hz = "300000000";
					max_framerate = "60000000";
					embedded_metadata_height = "2";
				};
				mode3 {
					mclk_khz = "24000";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					phy_mode = "DPHY";
					lane_polarity = "6";
					active_w = "1280";
					active_h = "720";
					// ... (other mode parameters) ...
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					line_length = "4336";
					pix_clk_hz = "300000000";
					max_framerate = "120000000";
					embedded_metadata_height = "2";
				};

				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						sensor_out_b: endpoint { 
							port-index = <1>;
							bus-width = <2>;
							remote-endpoint = <&sensor_csi_ch1_in>; 
						};
					};
				};
			};
		};
	};
};
